<div class="row bio">
    <div class="col-md-2 col-md-offset-5">
      <h2>  {{ nome | capitalize}}
        {{ cognome | capitalize}}</h2>
      <img src="/img/profile.jpg" class="img-circle profilo">
   </div>
</div>
