<div class="row header">
          <div class="col-md-7"><a href="#"><img class="logo_social"src="/img/logo.png" alt="logo"></a>
          </div>
          <div class="col-md-5 menu">
                <ul class="nav nav-pills ">
                       <li><a href="{{ path ('home', {'id': 1}) }}"><i class="fa fa-plane"></i><br>Home</a></li>
                       <li><img src="/img/divisorio_menu.png"></li>
                       <li><a class="active" href="{{ path ('profilo', {'id': 1}) }}"><i class="fa fa-suitcase"></i><br>Profilo</a></li>
                       <li><img src="/img/divisorio_menu.png"></li>
                       <li><a href="" data-toggle="modal" data-target="#myModal"><i class="fa fa-times"></i><br>Logout</a></li>

                  </ul>
          </div>
</div>
