    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Logout</h4>
          </div>
          <div class="modal-body">
            Sei veramente sicuro di volere uscire?
          </div>
          <div class="modal-footer">
            <a href=""><button type="button" class="btn btn-primary annulla" data-dismiss="modal">Annulla</button></a>
            <a href="index.html"><button type="button" class="btn btn-primary">Logout</button></a>
          </div>
        </div>
      </div>
    </div>
