{% extends "::base.html.twig" %}

{% block title %}AppBundle:Contact:Contact{% endblock %}

{% block body %}
  <h1>Il tuo prossimo viaggio?</h1>
    {% for flash_message in app.session.flashbag.get('notice') %}
      <div class="flash_notice">
        {{ flash_message }}
      </div>
    {% endfor %}




  {{ form_start(form_di_contatto) }}
  {{ form_widget(form_di_contatto) }}
  {{ form_end(form_di_contatto) }}

{% endblock %}
