{% extends 'AppBundle::layout.html.twig' %}

{% block login %}

<div class="col-md-12 landing">
    <div class="row head">
      <p>
      Journeys Worth<br>Spreading
      </p>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 login_block">
          <div class="col-md-5 logo">
           <img src="img/logo.png">
          </div>
          <div class="col-md-2"><img src="img/divisorio.png"></div>
          <div class="col-md-5 facebook"> <a href="profile.html" class="sc-btn sc--facebook">
            <span class="sc-icon">
                <svg viewBox="0 0 33 33" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M 17.996,32L 12,32 L 12,16 l-4,0 l0-5.514 l 4-0.002l-0.006-3.248C 11.993,2.737, 13.213,0, 18.512,0l 4.412,0 l0,5.515 l-2.757,0 c-2.063,0-2.163,0.77-2.163,2.209l-0.008,2.76l 4.959,0 l-0.585,5.514L 18,16L 17.996,32z"></path></g></svg>
            </span>
            <span class="sc-text">
                Accedi con Facebook
            </span>
          </a></div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-10 col-md-offset-1 description">
        <h2>Benvenuti su Tips &amp; travel!</h2>
        <p>Connettiti e consiglia ai tuoi amici i luoghi più interessanti e segreti che hai potuto scoprire e che non si trovano sulle guide turistiche. Con i tuoi racconti e commenti li
        aiuterai a vivere un’esperienza nuova ed indimenticabile.</p>
      </div>
  </div>



<footer class="row">
<div class="col-md-12 footer">
<p>© Copyright 2015 <br> | All Rights Reserved |</p>
<img src="img/logo_agenzia.png">
</div>

</footer>
</div>

{% endblock %}

{% block header %}
{% endblock %}

{% block bio %}
{% endblock %}
